/* This file is necessary to import the Tailwind CSS utility classes.
Netlify's build process will use PostCSS to process these directives
and generate the final CSS for your application.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;